.menu_wrap {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: gray;
  border-bottom: 3px solid;
}

.menu_nav {
  text-decoration: none;
  font-size: 35px;
  color: #000;
}

.menu_nav:global(.active) {
  font-weight: bold;
}
